<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">
            <img src="../assets/images/logo1.png" alt="SmashHub Logo" class="nav__logo-img">
            SmashHub
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="../index.html" class="nav__link active-link">
                        <i class='bx bx-home-alt nav__icon'></i>
                        <span class="nav__name">Home</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="../pages/venues.html" class="nav__link">
                        <i class='bx bx-book-alt nav__icon'></i>
                        <span class="nav__name">Venues</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="../pages/booking.html" class="nav__link">
                        <i class='bx bx-briefcase-alt nav__icon'></i>
                        <span class="nav__name">Booking</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="../pages/contact.html" class="nav__link">
                        <i class='bx bx-message-square-detail nav__icon'></i>
                        <span class="nav__name">Contact</span>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="../pages/about.html" class="nav__link">
                        <i class='bx bx-user nav__icon'></i>
                        <span class="nav__name">About</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
